@model Lippo.Models.RegisterModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Lippo.Helpers.ToastHelper.error(ViewData.ModelState)
@Lippo.Helpers.ToastHelper.success(ViewBag.Status)

<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    Reset Password
                </h3>
            </div>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item">
                    <a class="m-nav__link" href="@ViewBag.ReturnUrl" id="back">
                        <span class="m-nav__link-text">
                            Back
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "m-form m-form--fit m-form--label-align-right" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
        <input type="hidden" name="UserName" value="@Model.UserName" />
        @Html.Partial("_RegisterPartial", Model)
        <div class="m-form__actions m-form__actions">
            <button type="submit" class="btn m-btn--pill btn-secondary m-btn m-btn--hover-brand m-btn--custom">
                Reset
            </button>
        </div>

    }

</div>

    @section scripts {
        <script>
        $(function () {
            $("#UserName").prop("disabled", true);
            var allTopMenu = $("#topMenu > li");
            allTopMenu.addClass('m-menu__item');
            allTopMenu.removeClass('m-menu__item--active');
            $("#menuSystem").addClass('m-menu__item--active');
        });
        </script>
    }
