@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section HeadCSS {
    <style type="text/css">
	.gm-style-pbc{transition:opacity ease-in-out;background-color:rgba(0,0,0,0.45);text-align:center}.gm-style-pbt{font-size:22px;color:white;font-family:Roboto,Arial,sans-serif;position:relative;margin:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

@section HeadScript {
    @RenderSection("Scripts", false)
}
<div class="page-subheader page-subheader--auto page-subheader--inherit-hp zn_def_header_style psubhead-stheader--absolute sh-tcolor--light" id="page_header">
    <div class="bgback"></div>
    <div class="th-sparkles"></div>
    <div class="ph-content-wrap">
        <div class="ph-content-v-center">
            <div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <ul class="breadcrumbs fixclear bread-style--minimal" typeof="BreadcrumbList" vocab="http://schema.org/">
                        <li property="itemListElement" typeof="ListItem"><a href="@Url.Action("Index", "Home")" property="item" typeof="WebPage">Home</a></li>
                        @if (ViewBag.breadCrumbList != null)
                        {
                            foreach (var breadCrumb in ViewBag.breadCrumbList)
                            {
                            <li property="itemListElement" typeof="ListItem"><a href="@Url.Content(breadCrumb.url)" property="item" typeof="WebPage">@breadCrumb.text</a></li>
                            }
                        }
                        <li>@((ViewBag.group == "") ? "" : (ViewBag.group + " - ")) <span id="lastBCItem">@ViewBag.tabName</span></li>
                        </ul>
                        &nbsp;										
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-sm-6">
                        <form id="sectionSearch" action="/">
                            <input type="search" name="sectionSearchInput" id="sectionSearchInput" placeholder="Search @ViewBag.head.ToLower()">
                            <button type="button" id="sectionSearchButton">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.5 17.5L12.5 12.5M2.5 8.33333C2.5 9.09938 2.65088 9.85792 2.94404 10.5657C3.23719 11.2734 3.66687 11.9164 4.20854 12.4581C4.75022 12.9998 5.39328 13.4295 6.10101 13.7226C6.80875 14.0158 7.56729 14.1667 8.33333 14.1667C9.09938 14.1667 9.85792 14.0158 10.5657 13.7226C11.2734 13.4295 11.9164 12.9998 12.4581 12.4581C12.9998 11.9164 13.4295 11.2734 13.7226 10.5657C14.0158 9.85792 14.1667 9.09938 14.1667 8.33333C14.1667 7.56729 14.0158 6.80875 13.7226 6.10101C13.4295 5.39328 12.9998 4.75022 12.4581 4.20854C11.9164 3.66687 11.2734 3.23719 10.5657 2.94404C9.85792 2.65088 9.09938 2.5 8.33333 2.5C7.56729 2.5 6.80875 2.65088 6.10101 2.94404C5.39328 3.23719 4.75022 3.66687 4.20854 4.20854C3.66687 4.75022 3.23719 5.39328 2.94404 6.10101C2.65088 6.80875 2.5 7.56729 2.5 8.33333Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                    
                            </button>
                        </form>
                    </div>
                    <style>
                        #sectionSearch {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            margin-top: -12px
                        }
                        #sectionSearchInput {
                            width: 100%;
                            height: 100%;
                            padding: 12px;
                            border-radius: 1000px;
                            background-color: #fff;
                            color: #000;
                            border: 0px;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 1.5;
                            outline: none;
                        }
                        #sectionSearchInput:placeholder {
                            color: #888888;
                            text-transform: capitalize;
                        }
                        #sectionSearchButton {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 5px;
                            width: 32px;
                            height: 32px;
                            border: none;
                            background-color: #006FBA;
                            cursor: pointer;
                            border-radius: 1000px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        #sectionSearchButton svg {
                            width: 20px;
                            height: 20px;
                        }
                    </style>
                    <div class="col-sm-3">
                        <div class="subheader-titles">
                        <h2 class="subheader-maintitle" itemprop="headline">@ViewBag.head</h2>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="zn_header_bottom_style"></div>
</div>
<div class="zn_pb_wrapper clearfix zn_sortable_content" data-droplevel="0">
    @RenderBody()
</div>

@section BottomJS {
    @RenderSection("BottomJSAtLayout", false)
}

@section ExecuteJavaScript {
    @RenderSection("ExecuteJavaScriptAtLayout", false)
}