@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en-US" class="">
<head>
    <!--Start of Tawk.to Script-->
    <!--<script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5ec499828ee2956d73a2c906/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>-->
    <!--End of Tawk.to Script-->
    <!-- Google Tag Manager -->
    <script>

        (function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-5BH97D2');
    </script>

    <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/videojs-youtube@2/dist/Youtube.min.js"></script>
    <!-- End Google Tag Manager -->
    <title>@ViewBag.Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="/css/css.css" />
    <meta name="twitter:widgets:csp" content="on">
    <link rel="profile" href="https://gmpg.org/xfn/11">

    <link rel="dns-prefetch" href="https://maps.googleapis.com/">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <link rel="dns-prefetch" href="https://s.w.org/">
    <link rel="shortcut icon" type="image/icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" id="zn_all_g_fonts-css" href="/css/css(1).css" type="text/css" media="all" />
    <link rel="stylesheet" id="rs-plugin-settings-css" href="/css/settings.css" type="text/css" media="all" />
    <link rel="stylesheet" id="mptt-style-css" href="/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" id="th-bootstrap-styles-css" href="/css/bootstrap.css" type="text/css" media="all" />
    <link rel="stylesheet" id="th-theme-template-styles-css" href="/css/template.min.css" type="text/css" media="all" />
    <link rel="stylesheet" id="woocommerce-overrides-css" href="/css/kl-woocommerce.css" type="text/css" media="all" />
    <link rel="stylesheet" id="zion-frontend-css" href="/css/znb_frontend.css" type="text/css" media="all" />
    <link rel="stylesheet" id="zn_static_content-css" href="/css/static_content_styles.css" type="text/css" media="all" />
    <link rel="stylesheet" id="110-layout.css-css" href="/css/110-layout.css" type="text/css" media="all" />
    <link rel="stylesheet" id="animate.css-css" href="/css/animate.min.css" type="text/css" media="all" />
    <link rel="stylesheet" id="th-theme-print-stylesheet-css" href="/css/print.css" type="text/css" media="print" />
    <link rel="stylesheet" id="th-theme-options-styles-css" href="/css/zn_dynamic.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/custom.css" type="text/css" media="all" />
    @RenderSection("HeadCSS", false)

    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
    <script type="text/javascript" src="/js/jquery.themepunch.tools.min.js"></script>
    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>*@
    <script type="text/javascript" src="/js/jquery.scrollbox.js"></script>
    <script type="text/javascript" src="/js/marquee.js"></script>
    @RenderSection("HeadScript", false)
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body class="home page-template-default page page-id-110 kl-skin--light mprm_chrome" itemscope="itemscope" itemtype="https://schema.org/WebPage" style="">
    <a href="https://wa.me/6282117880504" target="_blank">
        <button class="whatsapp-btn">
            <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="60" height="60" rx="30" fill="#00BD13" />
                <path d="M39.4 20.5467C38.1776 19.3119 36.7216 18.3329 35.1168 17.6667C33.5121 17.0006 31.7908 16.6606 30.0533 16.6667C22.7733 16.6667 16.84 22.6 16.84 29.88C16.84 32.2133 17.4533 34.48 18.6 36.48L16.7333 43.3333L23.7333 41.4933C25.6667 42.5467 27.84 43.1067 30.0533 43.1067C37.3333 43.1067 43.2667 37.1733 43.2667 29.8933C43.2667 26.36 41.8933 23.04 39.4 20.5467ZM30.0533 40.8667C28.08 40.8667 26.1467 40.3333 24.4533 39.3333L24.0533 39.0933L19.8933 40.1867L21 36.1333L20.7333 35.72C19.637 33.9693 19.0549 31.9457 19.0533 29.88C19.0533 23.8267 23.9867 18.8933 30.04 18.8933C32.9733 18.8933 35.7333 20.04 37.8 22.12C38.8233 23.1386 39.6343 24.3502 40.1859 25.6846C40.7374 27.0189 41.0187 28.4495 41.0133 29.8933C41.04 35.9467 36.1067 40.8667 30.0533 40.8667ZM36.08 32.6533C35.7467 32.4933 34.12 31.6933 33.8267 31.5733C33.52 31.4667 33.3067 31.4133 33.08 31.7333C32.8533 32.0667 32.2267 32.8133 32.04 33.0267C31.8533 33.2533 31.6533 33.28 31.32 33.1067C30.9867 32.9467 29.92 32.5867 28.6667 31.4667C27.68 30.5867 27.0267 29.5067 26.8267 29.1733C26.64 28.84 26.8 28.6667 26.9733 28.4933C27.12 28.3467 27.3067 28.1067 27.4667 27.92C27.6267 27.7333 27.6933 27.5867 27.8 27.3733C27.9067 27.1467 27.8533 26.96 27.7733 26.8C27.6933 26.64 27.0267 25.0133 26.76 24.3467C26.4933 23.7067 26.2133 23.7867 26.0133 23.7733H25.3733C25.1467 23.7733 24.8 23.8533 24.4933 24.1867C24.2 24.52 23.3467 25.32 23.3467 26.9467C23.3467 28.5733 24.5333 30.1467 24.6933 30.36C24.8533 30.5867 27.0267 33.92 30.3333 35.3467C31.12 35.6933 31.7333 35.8933 32.2133 36.04C33 36.2933 33.72 36.2533 34.2933 36.1733C34.9333 36.08 36.2533 35.3733 36.52 34.6C36.8 33.8267 36.8 33.1733 36.7067 33.0267C36.6133 32.88 36.4133 32.8133 36.08 32.6533Z" fill="white" />
            </svg>

        </button>
    </a>
    <style>
        .whatsapp-btn {
            position: fixed;
            right: 20px;
            bottom: 170px;
            width: 60px;
            height: 60px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            z-index: 1000;
        }
    </style>
    <div id="page_wrapper">
        <header id="header" class="site-header  style14 cta_button   header--fixed   sticky-resize headerstyle--image_color site-header--absolute nav-th--light sheader-sh--default" data-original-sticky-textscheme="sh--default" role="banner" itemscope="itemscope" itemtype="https://schema.org/WPHeader">
            <div class="site-header-wrapper sticky-top-area">
                <div class="site-header-top-wrapper topbar-style--default  sh--default">
                    <div class="siteheader-container container">
                        <div id="topMenu" class="fxb-row site-header-row site-header-top ">
                            <div id="topMenuLeft" class='fxb-col fxb fxb-start-x fxb-center-y fxb-basis-auto site-header-col-left site-header-top-left'>
                                @{
                                    var emergencyNo = "";
                                    var callCenter = "";
                                    if (ViewBag.general != null)
                                    {
                                        var emergencyNoFeatures = ViewBag.general.findSingleValueInFeature(Lippo.Models.Admin.PageManager.GENERAL.PAGE_ID, Lippo.Models.Admin.PageManager.GENERAL.TOP, Lippo.Models.Admin.PageManager.GENERAL.Top.EMERGENCY_CALL);
                                        var callCenterFeatures = ViewBag.general.findSingleValueInFeature(Lippo.Models.Admin.PageManager.GENERAL.PAGE_ID, Lippo.Models.Admin.PageManager.GENERAL.TOP, Lippo.Models.Admin.PageManager.GENERAL.Top.CALL_CENTER);
                                        if (emergencyNoFeatures != null) { emergencyNo = emergencyNoFeatures.Value; }
                                        if (callCenterFeatures != null) { callCenter = callCenterFeatures.Value; }
                                    }
                                }
                                <div class="sh-component kl-header-toptext kl-font-alt">
                                    <span class="emergency">
                                        24 Hours' Emergency &nbsp;
                                    </span>
                                    @Lippo.Helpers.GenHelper.ToTelpNumbers(emergencyNo);
                                    <span class="emergency">&nbsp; Call Center &nbsp; </span>
                                    @Lippo.Helpers.GenHelper.ToTelpNumbers(callCenter);
                                </div>
                            </div>
                            <div id="topMenuRight" class='fxb-col fxb fxb-end-x fxb-center-y fxb-basis-auto site-header-col-right site-header-top-right'>
                                <div class="sh-component zn_header_top_nav-wrapper ">
                                    <span class="headernav-trigger js-toggle-class" data-target=".zn_header_top_nav-wrapper" data-target-class="is-opened">
                                    </span>
                                    <ul id="menu-header-small-menu-1" class="zn_header_top_nav topnav topnav-no-sc clearfix">
                                        <li class="hide-md menu-item menu-item-type-post_type menu-item-object-page menu-item-133">
                                            <a href="#">
                                                MAP
                                            </a>
                                        </li>
                                        <li id="topMenuRightItem2" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-134">
                                            <select class="lang-select" id="lang">
                                                <option value="EN">EN </option>
                                                <option value="IND">IN </option>
                                            </select>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kl-top-header site-header-main-wrapper clearfix   header-no-bottom  sh--default">
                    <div class="container siteheader-container ">
                        <div class='fxb-col fxb-basis-auto float-none-sm'>
                            <div class="fxb-row site-header-row site-header-main ">
                                <div id="lippoLogo" class='fxb-col fxb fxb-start-x fxb-center-y fxb-basis-auto fxb-grow-0 fxb-sm-full site-header-col-left site-header-main-left'>
                                    <div id="logo-container" class="logo-container  hasHoverMe logosize--yes zn-original-logo">
                                        <h1 class='site-logo logo ' id='logo'>
                                            <a href='@Url.Action("Index", "Home")' class='site-logo-anch'>
                                                <img class="logo-img site-logo-img" src="/assets/lippologo.png" alt="Lippo" title="Lippo Logo" data-mobile-logo="/assets/lippologo.png" />
                                            </a>
                                        </h1>
                                    </div>
                                </div>
                                <div id="lippoMenu" class='fxb-col fxb fxb-center-x fxb-center-y fxb-basis-auto fxb-sm-half site-header-col-center site-header-main-center'>
                                    <div class="sh-component main-menu-wrapper" role="navigation" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement">
                                        <div class="zn-res-menuwrapper">
                                            <a href="#" class="zn-res-trigger zn-menuBurger zn-menuBurger--1--s zn-menuBurger--anim1 " id="zn-res-trigger">
                                                <span>
                                                </span>
                                                <span>
                                                </span>
                                                <span>
                                                </span>
                                            </a>
                                        </div>
                                        <div id="main-menu" class="main-nav mainnav--sidepanel mainnav--active-text mainnav--pointer-dash nav-mm--light zn_mega_wrapper ">
                                            <ul id="menu-medical-menu" class="main-menu main-menu-nav zn_mega_menu ">
                                                <li class="main-menu-item menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-162 active main-menu-item-top menu-item-even menu-item-depth-0" id="menu-item-162">
                                                    <a class="main-menu-link main-menu-link-top" href="#"><span>EXPLORE</span></a>
                                                    <ul class="sub-menu clearfix">
                                                        <li class="main-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-163 main-menu-item-sub menu-item-odd menu-item-depth-1"
                                                            id="menu-item-163">
                                                            <a class="main-menu-link main-menu-link-sub" href="@Url.Action("Index", "Explore" , new
                    {id="getting-around" })"><span>GETTING AROUND </span></a>
                                                        </li>
                                                        <li class="main-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-164 main-menu-item-sub menu-item-even menu-item-depth-1"
                                                            id="menu-item-164">
                                                            <a class="main-menu-link main-menu-link-sub" href="@Url.Action("Whatson", "Explore")"><span>WHATS ON </span></a>
                                                        </li>
                                                        <li class="main-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-165 main-menu-item-sub menu-item-odd menu-item-depth-1"
                                                            id="menu-item-165">
                                                            <a class="main-menu-link main-menu-link-sub" href="@Url.Action("Index", "Explore" , new
                    {id="education" })"><span>EDUCATION </span></a>
                                                        </li>
                                                        <li class="main-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-166 main-menu-item-sub menu-item-even menu-item-depth-1"
                                                            id="menu-item-166">
                                                            <a class="main-menu-link main-menu-link-sub" href="@Url.Action("Index", "Explore" , new
                    {id="healthcare" })"><span>HEALTHCARE </span></a>
                                                        </li>
                                                        <li class="main-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-167 main-menu-item-sub menu-item-odd menu-item-depth-1"
                                                            id="menu-item-167">
                                                            <a class="main-menu-link main-menu-link-sub" href="@Url.Action("Index", "Explore" , new
                    {id="recreation" })"><span>RECREATION &amp; LEISURE </span></a>
                                                        </li>
                                                        <li class="main-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-168 main-menu-item-sub menu-item-even menu-item-depth-1"
                                                            id="menu-item-168">
                                                            <a class="main-menu-link main-menu-link-sub" href="@Url.Action("Index", "Explore" , new
                    {id="transportation" })"><span>TRANSPORTATION </span></a>
                                                        </li>

                                                    </ul>
                                                </li>
                                                <!--<li id="menu-item-143" class="main-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-143 menu-item-mega-parent menu-item-has-children  main-menu-item-top  menu-item-even menu-item-depth-0">
                                                   <a href="#" class=" main-menu-link main-menu-link-top">
                                                   <span>EXPLORE
                                                   </span>
                                                   </a>
                                                   <div class="explore zn_mega_container container mega-menu row">
                                                      <div class="explore-child">
                                                         <a href="@Url.Action("Index", "Explore", new {id = "getting-around"})">
                                                             <div class="col-xs-6 col-sm-4 img-menu" style="background-image:url(/assets/getting.png)">
                                                                 <h3 class="menu-text">GETTING AROUND </h3>
                                                             </div>
                                                         </a>
                                                         <a href="@Url.Action("Whatson", "Explore")">
                                                             <div class="col-xs-6 col-sm-4 img-menu" style="background-image:url(/assets/whatson.png)">
                                                                 <h3 class="menu-text">WHATS ON </h3>
                                                             </div>
                                                         </a>
                                                         <a href="@Url.Action("Index", "Explore", new {id = "education"})">
                                                             <div class="col-xs-6 col-sm-4 img-menu" style="background-image:url(/assets/education.png)">
                                                                 <h3 class="menu-text">EDUCATION </h3>
                                                             </div>
                                                         </a>
                                                         <a href="@Url.Action("Index", "Explore", new {id = "healthcare"})">
                                                            <div class="col-xs-6 col-sm-4 img-menu" style="background-image:url(/assets/healtcare.png)">
                                                               <h3 class="menu-text">HEALTHCARE </h3>
                                                            </div>
                                                         </a>
                                                         <a href="@Url.Action("Index", "Explore", new {id = "recreation"})">
                                                            <div class="col-xs-6 col-sm-4 img-menu" style="background-image:url(/assets/reaction.png)">
                                                               <h3 class="menu-text">RECREATION & LEISURE  </h3>
                                                            </div>
                                                         </a>
                                                         <a href="@Url.Action("Index", "Explore", new {id = "transportation"})">
                                                            <div class="col-xs-6 col-sm-4 img-menu" style="background-image:url(/assets/transport.png)">
                                                               <h3 class="menu-text">TRANSPORTATION </h3>
                                                            </div>
                                                         </a>
                                                      </div>
                                                   </div>
                                                </li>-->
                                                <li id="menu-item-143" class="main-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-143 menu-item-mega-parent menu-item-has-children  main-menu-item-top  menu-item-even menu-item-depth-0">
                                                    <a href="#" class=" main-menu-link main-menu-link-top">
                                                        <span>
                                                            TOWN MANAGEMENT
                                                        </span>
                                                    </a>
                                                    <div class="explore zn_mega_container container mega-menu row">
                                                        <div class="explore-child">
                                                            <a href="@Url.Action("Index", "TownManagement")">
                                                                <div class="col-xs-6 col-sm-4 img-menu" style="background-image:url(/assets/about.png)">
                                                                    <h3 class="menu-text">About </h3>
                                                                </div>
                                                            </a>
                                                            <a href="@Url.Action("HowDoI", "TownManagement")">
                                                                <div class="col-xs-6 col-sm-4 img-menu" style="background-image:url(/assets/howdo.png)">
                                                                    <h3 class="menu-text">How do I? </h3>
                                                                </div>
                                                            </a>
                                                            <a href="@Url.Action("Form", "TownManagement")">
                                                                <div class="col-xs-6 col-sm-4 img-menu" style="background-image:url(/assets/form.png)">
                                                                    <h3 class="menu-text">E-Form </h3>
                                                                </div>
                                                            </a>
                                                            <a href="https://www.lippokarawaci.co.id/OnlinePayment/">
                                                                <div class="col-xs-6 col-sm-4 img-menu" style="background-image:url(/assets/billing.png)">
                                                                    <h3 class="menu-text">E-Billing </h3>
                                                                </div>
                                                            </a>
                                                            <a href="@Url.Action("NewsLetter", "TownManagement")">
                                                                <div class="col-xs-6 col-sm-4 img-menu" style="background-image:url(/assets/publication.png)">
                                                                    <h3 class="menu-text">News Letter  </h3>
                                                                </div>
                                                            </a>
                                                            <a href="@Url.Action("Announcements", "TownManagement")">
                                                                <div class="col-xs-6 col-sm-4 img-menu" style="background-image:url(/assets/img/announcement.png)">
                                                                    <h3 class="menu-text">Announcement  </h3>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="main-menu-item menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-162 active main-menu-item-top menu-item-even menu-item-depth-0" id="menu-item-162">
                                                    <a class="main-menu-link main-menu-link-top" href="#"><span>BUSINESS</span></a>
                                                    <ul class="sub-menu clearfix">
                                                        <li class="main-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-163 main-menu-item-sub menu-item-odd menu-item-depth-1" id="menu-item-163">
                                                            <a class="main-menu-link main-menu-link-sub" href="@Url.Action("CommercialAreas", "Business")"><span>Commercial Areas</span></a>
                                                        </li>
                                                        <li class="main-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-164 main-menu-item-sub menu-item-odd menu-item-depth-1" id="menu-item-164">
                                                            <a class="main-menu-link main-menu-link-sub" href="@Url.Action("Directories", "Business")"><span>Directories</span></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="main-menu-item menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-162 active main-menu-item-top menu-item-even menu-item-depth-0" id="menu-item-162">
                                                    <a class="main-menu-link main-menu-link-top" href="#"><span>PROPERTIES</span></a>
                                                    <ul class="sub-menu clearfix">
                                                        <li class="main-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-163 main-menu-item-sub menu-item-odd menu-item-depth-1" id="menu-item-163">
                                                            <a class="main-menu-link main-menu-link-sub" href="https://www.lippohomes.com/" target="_blank"><span>Lippo Homes</span></a>
                                                        </li>
                                                        <li class="main-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-164 main-menu-item-sub menu-item-odd menu-item-depth-1" id="menu-item-164">
                                                            <a class="main-menu-link main-menu-link-sub" href="https://www.lippohomes.com/" target="_blank"><span>Real Estate Agents</span></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="main-menu-item menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-162 active main-menu-item-top menu-item-even menu-item-depth-0" id="menu-item-162">
                                                    <a class="main-menu-link main-menu-link-top" style="

                                                    display: flex;
                                                    align-items: center;
                                                    height: 26px;
                                                    gap:12px;
                                                " href="#">
                                                        <span>SEARCH</span>

                                                        <span>
                                                            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M17.8096 17.5L12.8096 12.5M2.80957 8.33333C2.80957 9.09938 2.96045 9.85792 3.25361 10.5657C3.54676 11.2734 3.97644 11.9164 4.51811 12.4581C5.05979 12.9998 5.70285 13.4295 6.41058 13.7226C7.11832 14.0158 7.87686 14.1667 8.6429 14.1667C9.40895 14.1667 10.1675 14.0158 10.8752 13.7226C11.583 13.4295 12.226 12.9998 12.7677 12.4581C13.3094 11.9164 13.739 11.2734 14.0322 10.5657C14.3254 9.85792 14.4762 9.09938 14.4762 8.33333C14.4762 7.56729 14.3254 6.80875 14.0322 6.10101C13.739 5.39328 13.3094 4.75022 12.7677 4.20854C12.226 3.66687 11.583 3.23719 10.8752 2.94404C10.1675 2.65088 9.40895 2.5 8.6429 2.5C7.87686 2.5 7.11832 2.65088 6.41058 2.94404C5.70285 3.23719 5.05979 3.66687 4.51811 4.20854C3.97644 4.75022 3.54676 5.39328 3.25361 6.10101C2.96045 6.80875 2.80957 7.56729 2.80957 8.33333Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                                            </svg>
                                                        </span>
                                                    </a>
                                                    <ul class="sub-menu clearfix" style="
                                                    padding: 0px;
                                                    background: none;
                                                ">
                                                        <form action="/" method="post">
                                                            <input type="type" name="search" value="" placeholder="search something..." style="
                                                        padding: 24px 16px; outline: none;
                                                        border:none;
                                                        font-style: italic;
                                                        place

                                                    " />
                                                        </form>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="lippoLogin" class='fxb-col fxb fxb-end-x fxb-center-y fxb-basis-auto fxb-sm-half site-header-col-right site-header-main-right float-none-sm'>
                                    <div class='fxb-col fxb fxb-end-x fxb-center-y fxb-basis-auto fxb-sm-half site-header-main-right-top'>
                                        <a href="https://www.lippokarawaci.co.id/OnlinePayment/" class="sh-component ctabutton cta-button-0 kl-cta-custom btn btn-fullcolor btn-custom-color  zn_dummy_value cta-icon--before btn--round" target="_self" itemprop="url">
                                            <span>
                                                <img class="" src="/assets/resident-login.png" width="24" height="24" alt="" title="resident-login.png" />
                                            </span>
                                            <span>
                                                <span class="hide-xs">RESIDENT</span> LOGIN
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="zn_pb_wrapper clearfix zn_sortable_content" data-droplevel="0">
            @RenderBody()
        </div>
        <div class="znpb-footer-smart-area">
            <section class="zn_section eluidc92829ca     section-sidemargins    section--no " id="eluid0fb936a6" data-anim-delay="700ms">
                <div class="zn_section_size container zn-section-height--auto zn-section-content_algn--top ">
                    <div class="row ">
                        <div class="eluid2d3f8c6a      col-md-12 col-sm-12   znColumnElement" data-anim-delay="700ms" id="eluid2d3f8c6a">
                            <div class="znColumnElement-innerWrapper-eluid2d3f8c6a znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-center ">
                                <div class="znColumnElement-innerContent">
                                    <div class="th-spacer clearfix eluid3936fac4     ">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="eluide5346762      col-md-3 col-sm-3   znColumnElement" id="eluide5346762">
                            <div class="znColumnElement-innerWrapper-eluide5346762 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                                <div class="znColumnElement-innerContent">
                                    <div class="kl-title-block clearfix tbk--text- tbk--left text-left tbk-symbol--  tbk-icon-pos--after-title eluide78db88e ">
                                        <img class="" src="/assets/lippologowhite.png" width="160" alt="Lippo" title="Lippo loggo white" data-mobile-logo="/assets/lippologowhite.png">
                                        <h4 class="tbk__subtitle" itemprop="alternativeHeadline">
                                            Capitalizing on demographic and lifestyle
                                            changes in Indonesia, while providing a
                                            solution to the traffic jams, floods and
                                            inadequate upgrading of the
                                            infrastructure, work in Lippo Village has
                                            now already begun for a new Lippo
                                            Village CBD, "The Millennium Village".
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="eluide7c0b1e8      col-md-3 col-sm-3   znColumnElement" id="eluide7c0b1e8">
                            <div class="znColumnElement-innerWrapper-eluide7c0b1e8 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                                <div class="znColumnElement-innerContent">
                                    <div class="kl-title-block clearfix tbk--text- tbk--left text-left tbk-symbol--  tbk-icon-pos--after-title eluid00914fe4 ">
                                        <h3 class="tbk__title" itemprop="headline">
                                            TOWN SERVICE
                                        </h3>
                                    </div>
                                    <div class="kl-title-block clearfix tbk--text- tbk--left text-left tbk-symbol--  tbk-icon-pos--after-title eluide78db88e ">
                                        <h4 class="tbk__subtitle" itemprop="alternativeHeadline">
                                            TMD Office
                                            <br />
                                            7 Boulevard Palem Raya
                                            <br />
                                            Menara Matahari, Ground Floor
                                            <br />
                                            Lippo Karawaci Sentral
                                            <br />
                                            Tangerang 15811, Banten
                                        </h4>
                                        <h4 class="tbk__subtitle" itemprop="alternativeHeadline">
                                            Email <span class="callcenter"><a href="mailto:TMD@lippokarawaci.co.id">TMD@lippokarawaci.co.id</a></span>
                                            <br />
                                            Phone @Lippo.Helpers.GenHelper.ToTelpNumbers("021 55 777 557")
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="eluid558f9db7      col-md-3 col-sm-3   znColumnElement" id="eluid558f9db7">
                            <div class="znColumnElement-innerWrapper-eluide7c0b1e8 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                                <div class="znColumnElement-innerContent">
                                    <div class="kl-title-block clearfix tbk--text- tbk--left text-left tbk-symbol--  tbk-icon-pos--after-title eluid00914fe4 ">
                                        <h3 class="tbk__title" itemprop="headline">
                                            PAGES
                                        </h3>
                                    </div>
                                    <div class="zn_custom_container eluid3dd2bae7 txtuppercase smart-cnt--default   clearfix" data-anim-delay="700ms">
                                        <div class="row zn_col_container-smart_container ">
                                            <div class="eluid1d611e8b      col-md-6 col-sm-6   znColumnElement" id="eluid1d611e8b">
                                                <div class="znColumnElement-innerWrapper-eluid1d611e8b znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                                                    <div class="znColumnElement-innerContent">
                                                        <div class="elm-custommenu clearfix eluid56195dc2 txtuppercase text-left elm-custommenu--normal" data-anim-delay="700ms">
                                                            <ul id="eluid56195dc2" class="elm-cmlist clearfix elm-cmlist--skin-light element-scheme--light zn_dummy_value elm-cmlist--normal nav-with-smooth-scroll">
                                                                <li id="menu-item-120" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-110 current_page_item menu-item-120 active">
                                                                    <a href="/Home">
                                                                        <span>
                                                                            Home
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                                <li id="menu-item-121" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121">
                                                                    <a href="/TownManagement">
                                                                        <span>
                                                                            Services
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                                @*<li id="menu-item-247" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-247">
                                                                       <a href="#">
                                                                       <span>Appointment
                                                                       </span>
                                                                       </a>
                                                                    </li>*@
                                                                <li id="menu-item-123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-123">
                                                                    <a href="/TownManagement">
                                                                        <span>
                                                                            About
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                                <li id="menu-item-124" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-124">
                                                                    <a href="/TownManagement">
                                                                        <span>
                                                                            Contact
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="eluid4b21d5e5      col-md-3 col-sm-3   znColumnElement" id="eluid4b21d5e5">
                            <div class="znColumnElement-innerWrapper-eluid4b21d5e5 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                                <div class="znColumnElement-innerContent">
                                    <div class="kl-title-block clearfix tbk--text- tbk--left text-left tbk-symbol--  tbk-icon-pos--after-title eluidf5507378 " data-anim-delay="700ms">
                                        <h3 class="tbk__title" itemprop="headline">
                                            NEWSLETTER
                                        </h3>
                                    </div>
                                    <div class="kl-title-block clearfix tbk--text- tbk--left text-left tbk-symbol--  tbk-icon-pos--after-title eluidb0c449dc " data-anim-delay="700ms">
                                        <h4 class="tbk__subtitle" itemprop="alternativeHeadline">
                                            Recieve our latest news straight to your inbox
                                        </h4>
                                    </div>
                                    <div class="elm-nlbox eluidcbbb4307  nlbox--style-normal nlbox--layout-rows" data-anim-delay="700ms">
                                        <form method="post" class="elm-nlbox__form clearfix" data-url="#" name="newsletter_form">
                                            <input type="text" name="zn_mc_email" class="elm-nlbox__input nl-email form-control btn--rounded" value="" placeholder="Email address" required="required" />
                                            <div class="g-recaptcha" data-sitekey="6LfH_UspAAAAAJ5QvjB4rwXQQAtDVtx3EuK7vu-A"></div>
                                            <button type="submit" name="submit" class="elm-nlbox__submit nl-submit btn--rounded">
                                                SUBSCRIBE
                                            </button>
                                            <input type="hidden" name="zn_list_class" class="nl-lid" value="acc4aa1f3d" />
                                        </form>
                                        <div class="elm-nlbox__result zn_mailchimp_result">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="eluid48becdea      col-md-12 col-sm-12   znColumnElement" id="eluid48becdea">
                            <div class="znColumnElement-innerWrapper-eluid48becdea znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                                <div class="znColumnElement-innerContent">
                                    <div class="zn_separator clearfix eluid2a7564fa zn_separator--icon-no " data-anim-delay="700ms">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="eluid4917fd37      col-md-12 col-sm-12   znColumnElement" id="eluid4917fd37">
                            <div class="znColumnElement-innerWrapper-eluid4917fd37 znColumnElement-innerWrapper znColumnElement-innerWrapper--valign-top znColumnElement-innerWrapper--halign-left ">
                                <div class="znColumnElement-innerContent">
                                    <div class="zn_text_box eluid7ad4a3c4  zn_text_box-light element-scheme--light" data-anim-delay="700ms">
                                        <h6 style="text-align: center;">
                                            <span style="line-height: 11px;">
                                                <span style="color: #a0b4c7;">
                                                    Copyright © 2017 PT TATA MANDIRI DAERAH LIPPO KARAWACI
                                                </span>
                                            </span>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <a href="#" id="totop" class="u-trans-all-2s js-scroll-event" data-forch="300" data-visibleclass="on--totop">TOP</a>

    @RenderSection("BottomContent", false)
    <script type="text/javascript" src="/js/plugins/_sliders/caroufredsel/jquery.carouFredSel-packed.js"></script>
    <!-- Required js trigger for Recent work 1 carousel element -->
    <script type="text/javascript" src="/js/trigger/kl-recent-work-carousel.js"></script>
    <!-- Required js trigger for Recent work 3 carousel element -->
    <script type="text/javascript" src="/js/trigger/kl-recent-work-carousel3.js"></script>
    <script type="text/javascript" src="/js/jquery.blockUI.min.js"></script>
    <script type="text/javascript" src="/js/plugins.min.js"></script>
    <script type="text/javascript" src="/js/zn_frontend.js"></script>
    <!-- Custom Kallyas JS codes -->
    <script type="text/javascript" src="/js/kl-scripts.js"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var ZnThemeAjax = { "zn_back_text": "Back", "zn_color_theme": "light", "res_menu_trigger": "992", "top_offset_tolerance": "" };
          /* ]]>*/
    </script>
    <script type="text/javascript" src="/js/znscript.min.js"></script>
    <script type="text/javascript" src="/js/slick.min.js"></script>
    <script type="text/javascript" src="/js/plugins/_sliders/revolution-slider/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/js/plugins/_sliders/revolution-slider/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="/js/plugins/_sliders/revolution-slider/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="/js/plugins/_sliders/revolution-slider/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="/js/plugins/_sliders/revolution-slider/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="/js/plugins/_sliders/revolution-slider/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="/js/plugins/_sliders/revolution-slider/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="/js/plugins/_sliders/revolution-slider/extensions/revolution.extension.video.min.js"></script>

    @RenderSection("BottomJS", false)
    <script type="text/javascript">
        $(document).ready(function () {
            $('#lang').val('@ViewBag.lang');
            $('#lang').on('change', function () {
                @*@{
                    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
                    var actionName = this.ViewContext.RouteData.Values["action"].ToString();
                    var url = "/Language/" + actionName + "/" + controllerName + "/";
                }*@
                location.href = '/Language/' + $('#lang').val() + '?url=' + btoa(window.location.href);
            });
        });
	    @RenderSection("ExecuteJavaScript", false)
    </script>
</body>
</html>