@{
    ViewBag.Title = "Form | Lippo Villages";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<!-- Static content wrapper with default height (not fullscreen) -->
			<div class="kl-slideshow kl-slideshow-inner">
				<!-- Static content background source with animateme effect -->
				<div class="static-content__source animateme" data-when="span" data-from="0" data-to="0.75" data-easing="linear" data-translatey="300">
					<!-- Background -->
					<div class="kl-bg-source">
						<!-- Background image -->
						<div class="kl-bg-source__bgimage" style="background-image:url(/assets/bgeform.jpg); background-repeat:no-repeat; background-attachment:scroll; background-position-x:center; background-position-y:center; background-size:cover">
						</div>
						<!--/ Background image -->

						<!-- Color overlay -->
						<div class="kl-bg-source__overlay" style="background-color:rgba(53,53,53,0.6)">
						</div>
					</div>
					<!--/ Background -->

					<!-- Animated Sparkles -->
					<div class="th-sparkles"></div>
					<!--/ Animated Sparkles -->
				</div>
				<!--/ .static-content__source .animateme -->


				<div class="static-content__inner container">
					<!-- Container with animateme effect and safe padding default top 150px -->
					<div class="kl-slideshow-safepadding sc__container animateme" data-when="span" data-from="0" data-to="0.75" data-translatey="200" data-opacity="0.1" data-easing="linear">
						<!-- Boxes style -->
						<div class="static-content boxes-style">
							<!-- Sub-title -->
							<h3 class="static-content__subtitle text-center">
								<span class="fw-thin">Download the form and submit
							</span></h3>
							<!-- Sub-title -->

							<!-- Boxes row -->
							<div class="sc__boxes row">
                                                            <a href="@Url.Content("~/Content/pdf/1. Formulir Aplikasi Bangun Baru.pdf")" class="col-sm-4 landing-frm">
									<!-- Box -->
									<div class="static-content__infopop">
										<!-- Image/Icon -->
										<img src="/assets/form.svg" class="sc__img" alt="Form 1" title="Form 1" />

										<!-- Title -->
										<h4 class="sc__box-title">Formulir Aplikasi <br>Bangun Baru</h4>

										<div class="clearfix">
										</div>
									</div>
									<!--/ Box (.static-content__infopop)  -->
								</a>
								<!--/ col-sm-4 -->

								 <a href="@Url.Content("~/Content/pdf/2. Formulir Aplikasi IMB Bangun Baru.pdf")" class="col-sm-4 landing-frm">
									<!-- Box -->
									<div class="static-content__infopop">
										<!-- Image/Icon -->
										<img src="/assets/form.svg" class="sc__img" alt="Form 2" title="Form 2" />

										<!-- Title -->
										<h4 class="sc__box-title">Formulir Aplikasi <br>IMB Bangun Baru</h4>

										<div class="clearfix">
										</div>
									</div>
									<!--/ Box (.static-content__infopop)  -->
								</a>
								<!--/ col-sm-4 -->

								 <a href="@Url.Content("~/Content/pdf/3. Formulir Aplikasi Struktural.pdf")" class="col-sm-4 landing-frm">
									<!-- Box -->
									<div class="static-content__infopop">
										<!-- Image/Icon -->
										<img src="/assets/form.svg" class="sc__img" alt="Form 3" title="Form 3" />

										<!-- Title -->
										<h4 class="sc__box-title">Formulir Aplikasi <br>Struktural</h4>

										<div class="clearfix">
										</div>
									</div>
									<!--/ Box (.static-content__infopop)  -->
								</a>
								<!--/ col-sm-4 -->
                                                                 <a href="@Url.Content("~/Content/pdf/4. Formulir Aplikasi IMB Renovasi.pdf")" class="col-sm-4 landing-frm">
									<!-- Box -->
									<div class="static-content__infopop">
										<!-- Image/Icon -->
										<img src="/assets/form.svg" class="sc__img" alt="Form 4" title="Form 4" />

										<!-- Title -->
										<h4 class="sc__box-title">Formulir Aplikasi<br>IMB Renovasi</h4>

										<div class="clearfix">
										</div>
									</div>
									<!--/ Box (.static-content__infopop)  -->
								</a>
								<!--/ col-sm-4 -->
                                                                 <a href="@Url.Content("~/Content/pdf/5. Form Izin Renovasi Non Struktural.pdf")" class="col-sm-4 landing-frm">
									<!-- Box -->
									<div class="static-content__infopop">
										<!-- Image/Icon -->
										<img src="/assets/form.svg" class="sc__img" alt="Form 5" title="Form 5" />

										<!-- Title -->
										<h4 class="sc__box-title">Formulir Izin<br>Renovasi Non Struktural</h4>

										<div class="clearfix">
										</div>
									</div>
									<!--/ col-sm-4 -->
                                                                 <a href="@Url.Content("~/Content/pdf/Ijin Acara.pdf")" class="col-sm-4 landing-frm">
									<!-- Box -->
									<div class="static-content__infopop">
										<!-- Image/Icon -->
										<img src="/assets/form.svg" class="sc__img" alt="Form 5" title="Form 5" />

										<!-- Title -->
										<h4 class="sc__box-title">Formulir<br>Izin Acara</h4>

										<div class="clearfix">
										</div>
									</div>
									<!--/ Box (.static-content__infopop)  -->
								</a>
								<!--/ col-sm-4 -->
							</div>
							<!--/ .sc__boxes .row -->
						</div>
						<!--/ .boxes-style -->
					</div>
					<!--/ Container with animateme effect and safe padding default top 150px -->
				</div>
				<!--/ .static-content__inner -->
			</div>
			<!--/ .static-content__wrapper -->

			<!--/ Bottom mask style 1 -->
	